<div class="jumbotron jumbotron-fluid position-relative" id="top-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <div class="square" id="photo-container">
          <a href="/">
            <img src="images/projects/keita.jpg" alt="David Keita Wilson" class="user-photo w-100">
          </a>
        </div>
        <div class="area">
          <ul class="circles">
            <i class="devicon-html5-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-bootstrap-plain"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-ruby-plain"></i>
            <i class="devicon-rails-plain"></i>
            <i class="devicon-postgresql-plain"></i>
            <i class="devicon-csharp-plain"></i>
            <i class="devicon-unity-original"></i>
            <i class="devicon-github-original"><%= link_to "", "https://github.com/dkwilson1991", target: '_blank', class: 'button-social-link' %></i>
          </ul>
        </div >
      </div>
      <nav>
        <div class="language-menu">
          <div class="selected-language">
            <span class="en">English</span>
            <input type="checkbox" class="check">
            <span class="ja">日本語</span>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="col-8 col-md-10">
          <div class="content contentEnglish">
            <h1 class="display-4 title">David Keita Wilson</h1>
            <div class="d-flex" id="lead">
              <p class="lead">Your friendly neighborhood
                <strong>Frontend developer!</strong></p>
            </div>
            <p style="opacity: 40%;">My technical skills are drifting in the background. <i class="devicon-github-original"></i> might take you somewhere...</p>
          </div>
        </div>
        <div class="col-8 col-md-10">
          <div class="content contentJapanese">
            <h4 class="display-4 title">ウィルソン・デイビッド・恵太</h4>
            <div class="d-flex" id="lead">
              <p class="lead">あなたの親愛なる
                <strong>フロントエンドデベロッパー</strong></p>
            </div>
            <p style="opacity: 40%;"><i class="devicon-github-original"></i> を探してね！押したら何か起こるかも</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
