<div class="bg-yellow">
  <div class="container">
    <div class="row text-center">
      <div class="col-12" id="devider">
        <h2>Take a look at my applications</h2>
        <p> There's a couple down below</p>
      </div>
    </div>
  </div>
</div>
