// Specific CSS for your home-page

#about strong {
  border-bottom: solid 2px #425374;
  color: #425374;
}

h1 {
  font-family: "Prata", "Georgia", "serif";
}

#about h2 {
  font-family: "Prata", "Georgia", "serif";
  margin-bottom: 1.5rem;
}

body {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #373f51ff;
  background-color: #ededed9e;
}
